
{% extends "base.html" %}
{% block title %}
    Confirmación
{% endblock %}
{% block content %}

    <p class="login-box-msg"><h2 style="color:gray;">Biemvenido!!</h2></p>
              {% if user.is_staff %}
              <strong>Tu registro ha sido confirmado</strong><br>
                Ahora ya eres parte del equipo !! :) 

              {% else %}
               <strong> Tu registro ha sido procesado, </strong><br>
                ingresa a tu correo y confirma tu registro. !! :) 


              {% endif %}

{% endblock %}




