{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Registro de Articulos
{% endblock %}

{% block active_articulos %}
  active
{% endblock %}
{% block content %}
  <h2>Registro de Articulos</h2>
  <h5 style="text-align: right;">Folio Venta: {{articulos}}</h5>
  <form method="POST">
    {% csrf_token %}
      {{ form.as_p}}
      <button type="submit" class="small button">Guardar</button>
  </form>

{% endblock %}

{% block footer %}

  <script type="text/javascript">
    $("#id_configuracion").val({{configuracion.id}});
    $("#id_usuario_registro").val({{Perfil.user.id}});
  </script>


{% endblock %}